.content{
    height: 100vh;
}

.section-container{
    margin: 10px;
}

.section{
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
}

.task{
    width: 15rem;
    height: 14rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;    
}

.border{
    overflow-x: scroll;
}
